@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 49% 99%;
    --foreground: 270 66% 1%;
    --muted: 270 23% 94%;
    --muted-foreground: 270 7% 38%;
    --popover: 270 49% 99%;
    --popover-foreground: 270 66% 1%;
    --card: 270 49% 98%;
    --card-foreground: 0 0% 0%;
    --border: 270 7% 90%;
    --input: 270 7% 90%;
    --primary: 270 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 5% 84%;
    --secondary-foreground: 270 5% 24%;
    --accent: 270 12% 76%;
    --accent-foreground: 270 12% 16%;
    --destructive: 7 90% 31%;
    --destructive-foreground: 7 90% 91%;
    --ring: 270 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 270 38% 3%;
    --foreground: 270 10% 98%;
    --muted: 270 23% 6%;
    --muted-foreground: 270 7% 62%;
    --popover: 270 38% 3%;
    --popover-foreground: 270 10% 98%;
    --card: 270 38% 4%;
    --card-foreground: 270 10% 99%;
    --border: 270 7% 10%;
    --input: 270 7% 10%;
    --primary: 270 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 4% 17%;
    --secondary-foreground: 270 4% 77%;
    --accent: 270 14% 23%;
    --accent-foreground: 270 14% 83%;
    --destructive: 7 90% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 270 100% 50%;
  }
}

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }